USE [master]
GO
/****** Object:  Database [LIMS_DB]    Script Date: 12-03-2026 16:24:12 ******/
CREATE DATABASE [LIMS_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LIMS_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LIMS_DB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LIMS_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LIMS_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LIMS_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LIMS_DB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12-03-2026 16:24:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimDocuments]    Script Date: 12-03-2026 16:24:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimDocuments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClaimId] [int] NOT NULL,
	[DocumentType] [nvarchar](max) NOT NULL,
	[FileName] [nvarchar](max) NOT NULL,
	[FilePath] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_ClaimDocuments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Claims]    Script Date: 12-03-2026 16:24:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Claims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PolicyId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[ClaimsOfficerId] [int] NULL,
	[ClaimNumber] [nvarchar](20) NOT NULL,
	[Status] [int] NOT NULL,
	[ClaimReason] [nvarchar](max) NOT NULL,
	[OfficerRemarks] [nvarchar](max) NULL,
	[RejectionReason] [nvarchar](max) NULL,
	[ClaimAmount] [decimal](18, 2) NULL,
	[SettledAmount] [decimal](18, 2) NULL,
	[BankAccountName] [nvarchar](max) NULL,
	[BankAccountNumber] [nvarchar](max) NULL,
	[BankIfscCode] [nvarchar](max) NULL,
	[TransferReference] [nvarchar](max) NULL,
	[SubmittedAt] [datetime2](7) NOT NULL,
	[AssignedAt] [datetime2](7) NULL,
	[ReviewStartedAt] [datetime2](7) NULL,
	[ApprovedAt] [datetime2](7) NULL,
	[SettledAt] [datetime2](7) NULL,
	[RejectedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_Claims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Commissions]    Script Date: 12-03-2026 16:24:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PolicyId] [int] NOT NULL,
	[AgentId] [int] NOT NULL,
	[PremiumAmount] [decimal](18, 2) NOT NULL,
	[CommissionPercentage] [decimal](18, 2) NOT NULL,
	[CommissionAmount] [decimal](18, 2) NOT NULL,
	[Status] [int] NOT NULL,
	[EarnedOn] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Commissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documents]    Script Date: 12-03-2026 16:24:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PolicyId] [int] NOT NULL,
	[DocumentType] [nvarchar](max) NOT NULL,
	[FileName] [nvarchar](max) NOT NULL,
	[FilePath] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[RejectionReason] [nvarchar](max) NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Documents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InsurancePlans]    Script Date: 12-03-2026 16:24:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsurancePlans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlanName] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[PlanType] [int] NOT NULL,
	[BonusRatePerYear] [decimal](18, 2) NOT NULL,
	[CoverageToAge] [int] NOT NULL,
	[MinSumAssured] [decimal](18, 2) NOT NULL,
	[MaxSumAssured] [decimal](18, 2) NOT NULL,
	[TenureOptions] [nvarchar](100) NOT NULL,
	[MinEntryAge] [int] NOT NULL,
	[MaxEntryAge] [int] NOT NULL,
	[MinAnnualIncome] [decimal](18, 2) NOT NULL,
	[BaseRatePer1000] [decimal](18, 4) NOT NULL,
	[LowRiskMultiplier] [decimal](18, 4) NOT NULL,
	[MediumRiskMultiplier] [decimal](18, 4) NOT NULL,
	[HighRiskMultiplier] [decimal](18, 4) NOT NULL,
	[CommissionPercentage] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_InsurancePlans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 12-03-2026 16:24:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PolicyId] [int] NOT NULL,
	[InvoiceNumber] [nvarchar](20) NOT NULL,
	[PeriodYear] [int] NOT NULL,
	[PeriodNumber] [int] NOT NULL,
	[Frequency] [int] NOT NULL,
	[AmountDue] [decimal](18, 2) NOT NULL,
	[DueDate] [datetime2](7) NOT NULL,
	[GraceEndDate] [datetime2](7) NULL,
	[Status] [int] NOT NULL,
	[PaidOn] [datetime2](7) NULL,
	[Remarks] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nominees]    Script Date: 12-03-2026 16:24:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nominees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PolicyId] [int] NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Relationship] [nvarchar](max) NOT NULL,
	[Age] [int] NOT NULL,
	[ContactNumber] [nvarchar](max) NOT NULL,
	[AllocationPercentage] [decimal](5, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IdNumber] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Nominees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 12-03-2026 16:24:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 12-03-2026 16:24:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[PolicyId] [int] NOT NULL,
	[AmountPaid] [decimal](18, 2) NOT NULL,
	[Status] [int] NOT NULL,
	[PaymentMethod] [nvarchar](max) NOT NULL,
	[TransactionReference] [nvarchar](max) NULL,
	[PaymentDate] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Policies]    Script Date: 12-03-2026 16:24:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Policies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PolicyNumber] [nvarchar](20) NOT NULL,
	[Status] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[InsurancePlanId] [int] NOT NULL,
	[AgentId] [int] NULL,
	[SumAssured] [decimal](18, 2) NOT NULL,
	[TenureYears] [int] NOT NULL,
	[CustomerAge] [int] NULL,
	[AnnualIncome] [decimal](18, 2) NULL,
	[Occupation] [nvarchar](max) NULL,
	[RiskCategory] [nvarchar](max) NULL,
	[PremiumAmount] [decimal](18, 2) NULL,
	[SubmittedAt] [datetime2](7) NULL,
	[AgentAssignedAt] [datetime2](7) NULL,
	[ApprovedAt] [datetime2](7) NULL,
	[ActiveFrom] [datetime2](7) NULL,
	[ActiveTo] [datetime2](7) NULL,
	[RejectedAt] [datetime2](7) NULL,
	[RejectionReason] [nvarchar](max) NULL,
	[AgentRemarks] [nvarchar](max) NULL,
	[CustomerAddress] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Policies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PolicyEndorsements]    Script Date: 12-03-2026 16:24:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolicyEndorsements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PolicyId] [int] NOT NULL,
	[RequestedByCustomerId] [int] NOT NULL,
	[ReviewedByAgentId] [int] NULL,
	[Type] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[ChangeRequestJson] [nvarchar](max) NOT NULL,
	[OldValueJson] [nvarchar](max) NOT NULL,
	[AgentRemarks] [nvarchar](max) NULL,
	[RejectionReason] [nvarchar](max) NULL,
	[RequestedAt] [datetime2](7) NOT NULL,
	[ReviewedAt] [datetime2](7) NULL,
	[ApprovedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_PolicyEndorsements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12-03-2026 16:24:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[Role] [int] NOT NULL,
	[MustChangePassword] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[LastLoginAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[BankAccountName] [nvarchar](max) NULL,
	[BankAccountNumber] [nvarchar](max) NULL,
	[BankIfscCode] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_ClaimDocuments_ClaimId]    Script Date: 12-03-2026 16:24:14 ******/
CREATE NONCLUSTERED INDEX [IX_ClaimDocuments_ClaimId] ON [dbo].[ClaimDocuments]
(
	[ClaimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Claims_ClaimNumber]    Script Date: 12-03-2026 16:24:14 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Claims_ClaimNumber] ON [dbo].[Claims]
(
	[ClaimNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Claims_ClaimsOfficerId]    Script Date: 12-03-2026 16:24:14 ******/
CREATE NONCLUSTERED INDEX [IX_Claims_ClaimsOfficerId] ON [dbo].[Claims]
(
	[ClaimsOfficerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Claims_CustomerId]    Script Date: 12-03-2026 16:24:14 ******/
CREATE NONCLUSTERED INDEX [IX_Claims_CustomerId] ON [dbo].[Claims]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Claims_PolicyId]    Script Date: 12-03-2026 16:24:14 ******/
CREATE NONCLUSTERED INDEX [IX_Claims_PolicyId] ON [dbo].[Claims]
(
	[PolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Commissions_AgentId]    Script Date: 12-03-2026 16:24:14 ******/
CREATE NONCLUSTERED INDEX [IX_Commissions_AgentId] ON [dbo].[Commissions]
(
	[AgentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Commissions_PolicyId]    Script Date: 12-03-2026 16:24:14 ******/
CREATE NONCLUSTERED INDEX [IX_Commissions_PolicyId] ON [dbo].[Commissions]
(
	[PolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Documents_PolicyId]    Script Date: 12-03-2026 16:24:14 ******/
CREATE NONCLUSTERED INDEX [IX_Documents_PolicyId] ON [dbo].[Documents]
(
	[PolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Invoices_InvoiceNumber]    Script Date: 12-03-2026 16:24:14 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Invoices_InvoiceNumber] ON [dbo].[Invoices]
(
	[InvoiceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invoices_PolicyId]    Script Date: 12-03-2026 16:24:14 ******/
CREATE NONCLUSTERED INDEX [IX_Invoices_PolicyId] ON [dbo].[Invoices]
(
	[PolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Nominees_PolicyId]    Script Date: 12-03-2026 16:24:14 ******/
CREATE NONCLUSTERED INDEX [IX_Nominees_PolicyId] ON [dbo].[Nominees]
(
	[PolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_UserId]    Script Date: 12-03-2026 16:24:14 ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_UserId] ON [dbo].[Notifications]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_InvoiceId]    Script Date: 12-03-2026 16:24:14 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Payments_InvoiceId] ON [dbo].[Payments]
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_PolicyId]    Script Date: 12-03-2026 16:24:14 ******/
CREATE NONCLUSTERED INDEX [IX_Payments_PolicyId] ON [dbo].[Payments]
(
	[PolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Policies_AgentId]    Script Date: 12-03-2026 16:24:14 ******/
CREATE NONCLUSTERED INDEX [IX_Policies_AgentId] ON [dbo].[Policies]
(
	[AgentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Policies_CustomerId]    Script Date: 12-03-2026 16:24:14 ******/
CREATE NONCLUSTERED INDEX [IX_Policies_CustomerId] ON [dbo].[Policies]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Policies_InsurancePlanId]    Script Date: 12-03-2026 16:24:14 ******/
CREATE NONCLUSTERED INDEX [IX_Policies_InsurancePlanId] ON [dbo].[Policies]
(
	[InsurancePlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Policies_PolicyNumber]    Script Date: 12-03-2026 16:24:14 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Policies_PolicyNumber] ON [dbo].[Policies]
(
	[PolicyNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PolicyEndorsements_PolicyId]    Script Date: 12-03-2026 16:24:14 ******/
CREATE NONCLUSTERED INDEX [IX_PolicyEndorsements_PolicyId] ON [dbo].[PolicyEndorsements]
(
	[PolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PolicyEndorsements_RequestedByCustomerId]    Script Date: 12-03-2026 16:24:14 ******/
CREATE NONCLUSTERED INDEX [IX_PolicyEndorsements_RequestedByCustomerId] ON [dbo].[PolicyEndorsements]
(
	[RequestedByCustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PolicyEndorsements_ReviewedByAgentId]    Script Date: 12-03-2026 16:24:14 ******/
CREATE NONCLUSTERED INDEX [IX_PolicyEndorsements_ReviewedByAgentId] ON [dbo].[PolicyEndorsements]
(
	[ReviewedByAgentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 12-03-2026 16:24:14 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Claims] ADD  DEFAULT ((0)) FOR [Type]
GO
ALTER TABLE [dbo].[Nominees] ADD  DEFAULT (N'') FOR [IdNumber]
GO
ALTER TABLE [dbo].[Nominees] ADD  DEFAULT (N'') FOR [Email]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [DateOfBirth]
GO
ALTER TABLE [dbo].[ClaimDocuments]  WITH CHECK ADD  CONSTRAINT [FK_ClaimDocuments_Claims_ClaimId] FOREIGN KEY([ClaimId])
REFERENCES [dbo].[Claims] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClaimDocuments] CHECK CONSTRAINT [FK_ClaimDocuments_Claims_ClaimId]
GO
ALTER TABLE [dbo].[Claims]  WITH CHECK ADD  CONSTRAINT [FK_Claims_Policies_PolicyId] FOREIGN KEY([PolicyId])
REFERENCES [dbo].[Policies] ([Id])
GO
ALTER TABLE [dbo].[Claims] CHECK CONSTRAINT [FK_Claims_Policies_PolicyId]
GO
ALTER TABLE [dbo].[Claims]  WITH CHECK ADD  CONSTRAINT [FK_Claims_Users_ClaimsOfficerId] FOREIGN KEY([ClaimsOfficerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Claims] CHECK CONSTRAINT [FK_Claims_Users_ClaimsOfficerId]
GO
ALTER TABLE [dbo].[Claims]  WITH CHECK ADD  CONSTRAINT [FK_Claims_Users_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Claims] CHECK CONSTRAINT [FK_Claims_Users_CustomerId]
GO
ALTER TABLE [dbo].[Commissions]  WITH CHECK ADD  CONSTRAINT [FK_Commissions_Policies_PolicyId] FOREIGN KEY([PolicyId])
REFERENCES [dbo].[Policies] ([Id])
GO
ALTER TABLE [dbo].[Commissions] CHECK CONSTRAINT [FK_Commissions_Policies_PolicyId]
GO
ALTER TABLE [dbo].[Commissions]  WITH CHECK ADD  CONSTRAINT [FK_Commissions_Users_AgentId] FOREIGN KEY([AgentId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Commissions] CHECK CONSTRAINT [FK_Commissions_Users_AgentId]
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD  CONSTRAINT [FK_Documents_Policies_PolicyId] FOREIGN KEY([PolicyId])
REFERENCES [dbo].[Policies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Documents] CHECK CONSTRAINT [FK_Documents_Policies_PolicyId]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Policies_PolicyId] FOREIGN KEY([PolicyId])
REFERENCES [dbo].[Policies] ([Id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Policies_PolicyId]
GO
ALTER TABLE [dbo].[Nominees]  WITH CHECK ADD  CONSTRAINT [FK_Nominees_Policies_PolicyId] FOREIGN KEY([PolicyId])
REFERENCES [dbo].[Policies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Nominees] CHECK CONSTRAINT [FK_Nominees_Policies_PolicyId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users_UserId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Invoices_InvoiceId] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoices] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Invoices_InvoiceId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Policies_PolicyId] FOREIGN KEY([PolicyId])
REFERENCES [dbo].[Policies] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Policies_PolicyId]
GO
ALTER TABLE [dbo].[Policies]  WITH CHECK ADD  CONSTRAINT [FK_Policies_InsurancePlans_InsurancePlanId] FOREIGN KEY([InsurancePlanId])
REFERENCES [dbo].[InsurancePlans] ([Id])
GO
ALTER TABLE [dbo].[Policies] CHECK CONSTRAINT [FK_Policies_InsurancePlans_InsurancePlanId]
GO
ALTER TABLE [dbo].[Policies]  WITH CHECK ADD  CONSTRAINT [FK_Policies_Users_AgentId] FOREIGN KEY([AgentId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Policies] CHECK CONSTRAINT [FK_Policies_Users_AgentId]
GO
ALTER TABLE [dbo].[Policies]  WITH CHECK ADD  CONSTRAINT [FK_Policies_Users_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Policies] CHECK CONSTRAINT [FK_Policies_Users_CustomerId]
GO
ALTER TABLE [dbo].[PolicyEndorsements]  WITH CHECK ADD  CONSTRAINT [FK_PolicyEndorsements_Policies_PolicyId] FOREIGN KEY([PolicyId])
REFERENCES [dbo].[Policies] ([Id])
GO
ALTER TABLE [dbo].[PolicyEndorsements] CHECK CONSTRAINT [FK_PolicyEndorsements_Policies_PolicyId]
GO
ALTER TABLE [dbo].[PolicyEndorsements]  WITH CHECK ADD  CONSTRAINT [FK_PolicyEndorsements_Users_RequestedByCustomerId] FOREIGN KEY([RequestedByCustomerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PolicyEndorsements] CHECK CONSTRAINT [FK_PolicyEndorsements_Users_RequestedByCustomerId]
GO
ALTER TABLE [dbo].[PolicyEndorsements]  WITH CHECK ADD  CONSTRAINT [FK_PolicyEndorsements_Users_ReviewedByAgentId] FOREIGN KEY([ReviewedByAgentId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PolicyEndorsements] CHECK CONSTRAINT [FK_PolicyEndorsements_Users_ReviewedByAgentId]
GO
USE [master]
GO
